steps:
  - command: ls
    plugins:
{{- if .CosignPluginEnabled }}
      - equinixmetal-buildkite/cosign#{{ .CosignConfig.CosignVersion }}:
          {{- if .CosignConfig.Image}}
          image: {{ .CosignConfig.Image }}
          {{- end }}
          {{- if not .CosignConfig.Keyless}}
          keyless : {{ .CosignConfig.Keyless }}
          {{- end }}
          {{- if .CosignConfig.Keyless}}
          keyless-config:
            fulcio-url: {{ .CosignConfig.KeylessConfig.FulcioURL }}
            rekor-url: {{ .CosignConfig.KeylessConfig.RekorURL }}
          {{- end }}
          {{- if not .CosignConfig.Keyless}}
          keyed-config:
            key: {{ .CosignConfig.KeyedConfig.Key }}
          {{- end }}
          {{- if .CosignConfig.CosignVersion}}
          cosign-version: {{ .CosignConfig.CosignVersion }}
          {{- end }}
{{- end}}
{{- if .TrivyPluginEnabled }}
      - equinixmetal-buildkite/trivy#{{ .TPConfig.TrivyVersion }}:
          {{- if .TPConfig.ExitCode}}
          exit-code: {{ .TPConfig.ExitCode }}
          {{- end }}
          {{- if .TPConfig.Timeout}}
          timeout : "{{ .TPConfig.Timeout }}"
          {{- end }}
          {{- if .TPConfig.Severity}}
          severity: "{{ .TPConfig.Severity }}"
          {{- end }}
          {{- if .TPConfig.IgnoreUnfixed}}
          ignore-unfixed: {{ .TPConfig.IgnoreUnfixed }}
          {{- end }}
          {{- if .TPConfig.SecurityChecks}}
          security-checks: "{{ .TPConfig.SecurityChecks }}"
          {{- end }}
          {{- if .TPConfig.SkipFiles}}
          skip-files: "{{ .TPConfig.SkipFiles }}"
          {{- end }}
          {{- if .TPConfig.SkipDirs}}
          skip-dirs: "{{ .TPConfig.SkipDirs }}"
          {{- end }}
          {{- if .TPConfig.ImageRef}}
          image-ref: "{{ .TPConfig.ImageRef }}"
          {{- end }}
          {{- if .TPConfig.HelmOverridesFile}}
          helm-overrides-file: "{{ .TPConfig.HelmOverridesFile }}"
          {{- end }}
{{- end}}
{{- if .DockerMetadataPluginEnabled }}
      - equinixmetal-buildkite/docker-metadata#{{ .DockerMetadataConfig.Version }}:
          {{- if .DockerMetadataConfig.Images }}
          images: "{{ .DockerMetadataConfig.Images }}"
          {{- end}}
          {{- if .DockerMetadataConfig.ExtraTags }}
          extra_tags: "{{ .DockerMetadataConfig.ExtraTags }}"
          {{- end}}
          {{- if .DockerMetadataConfig.Title }}
          title: "{{ .DockerMetadataConfig.Title }}"
          {{- end}}
          {{- if .DockerMetadataConfig.Licenses }}
          licenses: "{{ .DockerMetadataConfig.Licenses }}"
          {{- end}}
          {{- if .DockerMetadataConfig.Vendor }}
          vendor: "{{ .DockerMetadataConfig.Vendor }}"
          {{- end}}
          {{- if .DockerMetadataConfig.Debug }}
          debug: "{{ .DockerMetadataConfig.Debug }}"
          {{- end}}
{{- end}}