steps:
  - command: ls
    plugins:
{{- if .TrivyPluginEnabled }}
      - equinixmetal-buildkite/trivy#{{ .TPConfig.TrivyVersion }}:
          {{- if .TPConfig.ExitCode}}
          exit-code: {{ .TPConfig.ExitCode }}
          {{- end }}
          {{- if .TPConfig.Timeout}}
          timeout : "{{ .TPConfig.Timeout }}"
          {{- end }}
          {{- if .TPConfig.Severity}}
          severity: "{{ .TPConfig.Severity }}"
          {{- end }}
          {{- if .TPConfig.IgnoreUnfixed}}
          ignore-unfixed: {{ .TPConfig.IgnoreUnfixed }}
          {{- end }}
          {{- if .TPConfig.SecurityChecks}}
          security-checks: "{{ .TPConfig.SecurityChecks }}"
          {{- end }}
          {{- if .TPConfig.SkipFiles}}
          skip-files: "{{ .TPConfig.SkipFiles }}"
          {{- end }}
          {{- if .TPConfig.SkipDirs}}
          skip-dirs: "{{ .TPConfig.SkipDirs }}"
          {{- end }}
          {{- if .TPConfig.ImageRef}}
          image-ref: "{{ .TPConfig.ImageRef }}"
          {{- end }}
          {{- if .TPConfig.HelmOverridesFile}}
          helm-overrides-file: "{{ .TPConfig.HelmOverridesFile }}"
          {{- end }}
{{- end}}
{{- if .DockerBuildPluginEnabled }}
      - equinixmetal-buildkite/docker-build#{{ .DockerBuildConfig.Version }}:
          {{- if .DockerBuildConfig.Dockerfile}}
          dockerfile: {{ .DockerBuildConfig.Dockerfile }}
          {{- end }}
          {{- if .DockerBuildConfig.Context}}
          context : {{ .DockerBuildConfig.Context }}
          {{- end }}
          {{- if .DockerBuildConfig.SecretFile}}
          secret-file: {{ .DockerBuildConfig.SecretFile }}
          {{- end }}
          {{- if .DockerBuildConfig.Tags}}
          tags: 
          {{- range .DockerBuildConfig.Tags }}
            - {{ . }}
          {{- end }}
          {{- end }}
          {{- if .DockerBuildConfig.Labels}}
          labels:
          {{- range .DockerBuildConfig.Labels }}
            - {{ . }}
          {{- end }}
          {{- end }}
          {{- if .DockerBuildConfig.BuildArgs}}
          build-args:
          {{- range .DockerBuildConfig.BuildArgs }}
            - {{ . }}
          {{- end }}
          {{- end }}
          {{- if .DockerBuildConfig.Push}}
          push: {{ .DockerBuildConfig.Push }}
          {{- end }}
{{- end}}
